.profile-info__edit-btn {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/edit-btn.svg);
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  padding: 0;
  grid-area: edit-btn;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.profile-info__edit-btn:hover {
  opacity: 0.6;
}


@media screen and (max-width: 1279px) {
  .profile-info__edit-btn {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}
