.page {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-weight: normal;
  max-width: 880px;
  margin: 0 auto;
  padding-top: 45px;
  color: #fff;
}

@media screen and (max-width: 1279px) {
  .page {
    max-width: 720px;
    padding: 28px 19px 0;
  }
}
