.profile {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  padding: 40px 0 51px;
  flex-wrap: wrap;
}

@media screen and (max-width: 1279px) {
  .profile {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    padding: 42px 19px 36px;
  }
}
