.header__line {
  border-bottom: 1px solid #545454;
  color: #545454;
  transition: opacity 0.2s linear;
  margin: 0;
}

.header__line:hover {
  opacity: 0.7;
}

@media screen and (max-width: 767px) {
  .header__line {
    margin: 0 -27px;
  }
}
