.elements__like {
  min-width: 22px;
  min-height: 19px;
  align-self: center;
  background-image: url('../../../images/like.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  background-size: contain;
  margin-right: 5px;
}

