.elements__list {
  display: grid;
  margin: 0 auto;
  gap: 20px 17px;
  list-style-type: none;
  padding: 0;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  max-width: 880px;
}

@media screen and (max-width: 767px) {
  .elements__list {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

@media screen and (max-width: 1279px) {
  .elements__list {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 20px;
  }
}


